<ul id="sites-list"></ul>

<script id="site-node-tmpl" type="text/template">
  {{ if (last_snapshot_preview) { }}
    <div><img width="460" height="345" src="{{= last_snapshot_preview }}"></div>
  {{ } else { }}
    <div><img></div>
  {{ } }}
  <p><strong>{{= ld(last_snapshot_at) }}</strong></p>
  <button>View More Snapshots &raquo;</botton>
</script>

<script id="site-pane-tmpl" type="text/template">
  <div class="top">
    <a data-action="close">X</a>
  </div>
  <div class="wrap">
    <img src="{{= original }}">
  </div>
</script>
