@mixin snapshot-cell($height, $width, $margin, $marginBottom:20px) {
  // TODO responsive layouts
  li {
    float:left;
    width:$width + 2px;

    $margin: $margin - 2px;
    margin:0 $margin $marginBottom 0;

    div {
      height: $height + 2px;
      width: $width + 2px;

      border:1px solid $borderLight;
      @include box-sizing(border-box);

      img {
        cursor:pointer;
        height: $height;
        width: $width;
      }
    }

    strong, button { display:block; color: $color; }
  }
}

@mixin snapshot-cell-date($fontSize:15px) {
  li p {
    height:$fontSize;

    strong {
      display:block;
      text-align:center;
      font-weight:bold;
      font-size:$fontSize;
      line-height:$fontSize;
    }
  }
}
