.snapshots {
  @include pie-clearfix();
}

.snapshot {
  @include border-radius(2px);
  @include box-sizing(border-box);
  @include box-shadow(0px 4px 8px rgba(0,0,0,.35));
  $padding:12px;

  width:$cell;
  float:left;

  padding:$padding;
  margin:0 $gutter 20px 0;

  background:#FFF;

  @include background(linear-gradient(#FFFFFF, #F7F8F7));


  img {
    @include box-sizing(border-box);
    @include border-radius(2px);

    // $cell minus twice side-padding
    $width: $cell - (2 * $padding);
    width:$width;
    height:($width * 3)/ 4; // 4:3 ratio

    border:1px solid rgba(0,0,0,.30);
    display:block;
    margin:0 auto;
    cursor:pointer;
  }

  strong {
    display:block;
    margin:10px 0;

    text-align:center;
    font-family:$handFont;
    font-size:24px;
    font-weight:bold;
    line-height:28px;
  }

  &:hover {
    @include box-shadow(0px 4px 8px rgba(0,0,0,.60));
  }
}

