@import "compass/utilities/general/clearfix";
@import "compass/reset";
@import "compass/css3";
@import "animate";

$color:#0C0101;
$bgColor:#FEFEFE;

$border:#AAAA99;
$borderLight: #E8E6D9;

// let them eat cake
//$colorScheme: #C5E0DC, #ECE5CE, #F1D4AF, #E08E79;

// thought provoking
//$colorScheme: #C02942, #D85B43, #ECD078, #53777A, #542437;

// ocean five
//$colorScheme: #CC333F, #EB6841, #EDC951, #6A4A3C, #00A0B0;

// Legos!
$colorScheme:#EE1313, #4979C0, #3DA239, #FFE942;

//$headerStart:
//$headerStop:

$cell:475px;
$gutter:20px;
$thumbnail:220px;

$fontFamily:'Philosopher', serif;
$handFont:'Give You Glory', cursive;
//$fontFamily:'Permanent Marker', cursive;

@import "includes/animations";
@import "includes/mixins";

@import "layouts/header";
@import "layouts/body";
@import "layouts/icons";

@import "sites";
@import "snapshots";
@import "preview";
