@import "compass/utilities/general/clearfix";
@import "compass/reset";
@import "compass/css3";
@import "mixins";

$logoColor:#EFEFEF;

$color: #333;
$border: #666;

$borderLight: #CCC;
$borderLighter:#AAA;

$cell:475px;
$thumbnail:220px;

html, body { background:#FFF; }
a { color: $color; text-decoration:none; }

#top, #page, #footer {
  > .content {
    width: $cell * 2;
    margin:0 auto;
  }
}

#top {
  @include pie-clearfix();

  background-color: rgb(0,0,0);
  @include filter-gradient(#151515, #2D2D2D, vertical);
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, #151515 0%, #2D2D2D 100%));
  @include box-shadow(0 1px 2px rgba(0,0,0,.55), inset 0 -2px 0 rgba(0,0,0,.1));

  width:100%;
  height:50px;
  margin:0 0 20px;

  .content {
    height:100%;

    h1 {
      float:left;

      width:200px;
      margin:-10px 0 0;

      > em {
        font-style:italic;
        margin-right:0.1em;
      }

      > a {
        color:$logoColor;
        text-decoration:none;

        font-family: 'News Cycle', sans-serif;
        font-size:48px;
      }
    }

    ul {
      float:right;

      li {
        display:inline-block;

        a {
          color:$logoColor;
          font-weight:bold;
          font-size:16px;
          font-family: 'News Cycle', sans-serif;
        }
      }
    }
  }
}

#footer {
  margin:60px 0;
  text-align:center;
  font-family: 'News Cycle', sans-serif;
  font-size:14px;
  color:$color;
}

@-webkit-keyframes giggity {
  0%   { color: #FFF; }
  25%  { color: #C00; }
  50%  { color: #0C0; }
  75%  { color: #22F; }
  100% { color: #FFF; }
}

.logo {
  -webkit-animation-name: giggity;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 99s;
}


// generic styles
@import "icons";

// specific components
@import "site-list";
@import "site";
@import "preview";

// responsive (media query) layouts
@import "responsive";
